.dango-pink-bg {
  background-color: #D90084 !important;
}

.dango-pink-text {
  color: #D90084 !important;
}

.dango-teal-bg {
  background-color: #00CCA5 !important;
}

.dango-teal-text {
  color: #00CCA5 !important;
}

.dango-yellow-bg {
  background-color: #D87500 !important;
}

.dango-yellow-text {
  color: #D87500 !important;
}

.dango-purple-bg {
  background-color: #6F00BE !important;
}

.dango-purple-text {
  color: #6F00BE !important;
}
